.h1 {
  padding: 56px;
  text-align: center;
}

.adress {
  padding-top: 56px;
  text-align: center;
}

.Cart {
  text-align: center;
  font-size: medium;
  padding: 100px;
  color: #eefa06;
}
