.h1 {
  padding-top: 56px;
  text-align: center;
  color: #eefa06;
  font-size: xx-large;
}

.picture {
  padding-top: 56px;
  text-align: center;
}

.h2 {
  text-align: center;
  color: #eefa06;
}

.button {
  background-color: #111212; /* Green background */
  border: 2px solid green; /* Green border */
  color: #eefa06; /* White text */
  padding: 5px 7px 10px; /* Some padding */
  /* Set a width if needed */
  cursor: pointer; /* Pointer/hand icon */
  display: grid;
  justify-content: center;
  grid-template-columns: auto;

  text-align: center;
}

.button :not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
