.topnav {
  text-align: center;
  background-color: #1e1c1c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  background-color: #1261c0;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1e201f;
  color: rgb(241, 232, 232);
}

.h1 {
  text-align: center;
  padding: 56px;
  margin: auto;
}

.p {
  text-align: center;
}
