.topnav {
  text-align: center;
  background-color: #1e1c1c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 30px;
  background-color: #1261c0;
  border-radius: 56px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f6f1f1;
  color: rgb(247, 242, 242);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1e201f;
  color: rgb(241, 232, 232);
}

.h1 {
  text-align: center;
  padding: 56px;
  margin: auto;
}

.p {
  text-align: center;
  padding: 25px 30px;
  text-shadow: #1e1c1c;
  margin: auto;
}

.section {
  text-align: center;
}

.picture {
  text-align: center;
}
