.h1 {
  padding-top: 56px;
  text-align: center;
  color: #eefa06;
  font-size: xx-large;
}

.picture {
  padding-top: 56px;
  text-align: center;
}

.h2 {
  text-align: center;
  color: #eefa06;
}
