.topnav {
  text-align: center;
  background-color: #eff5f0;
  overflow: hidden;
  padding-top: 112px;
  bottom: 12px;
  gap: 56px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #e11616;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 30px;
  background-color: #5454f6;
  border-radius: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: f5f0;
  color: rgb(244, 244, 9);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1e201f;
  color: rgb(241, 232, 232);
}
.picture {
  text-align: center;
}
