.topnav {
  text-align: center;
  background-color: #eff5f0;
  overflow: hidden;
  padding-top: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #e11616;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  background-color: #2cab54;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: f5f0;
  color: rgb(244, 244, 9);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1e201f;
  color: rgb(241, 232, 232);
}
