.picture {
  display: grid;
  grid-gap: 14px;
  padding-top: 100px;
  align-items: center;
  grid-auto-rows: auto;
  text-align: center;
}
.p {
  font-size: large;
  color: #eefa06;
  background-color: #1e201f;
}
.h1 {
  font-size: xx-large;
  text-align: center;
  padding-top: 56px;
  color: #eefa06;
}

.column {
  float: left;
  width: 33, 33%;
  padding: 56px;
}

/* Clear floats after image containers */
.row::after {
  content: '';
  clear: both;
  display: table;
}
