.picture {
  text-align: center;
  padding-top: 100px;
  align-items: center;
}
.p {
  font-size: large;
  color: #eefa06;
  background-color: #1e201f;
}
.h1 {
  font-size: xx-large;
  text-align: center;
  padding-top: 56px;
  color: #eefa06;
}
